.gallery-1{
    z-index: 20;
    transition: all 1s ease-out;
    -webkit-transition: all 1s ease-in-out;
    -webkit-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75);
    position: relative;
    font-family: Andalus;
    background-image: url('../images_main_page/DSC_1732.JPG');
    background-size: 100% 160%;
    width: 100%;
    max-height: 1280px;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.gallery-1 .a-sample{
    width: 100%;
    height: 100%;
    z-index:100;
}

.gallery-1 .one-sample .text-sample {
    color:white;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    margin: auto;
    text-align: center;
    background: #ae1b1c;
    opacity: 0.8;
    z-index:100;
}
.gallery-1 .one-sample {
    padding: 0;
    position: relative;
    height:33.33333vh;
    z-index:100;
}
.gallery-1 .one-sample .text-sample .text-sample-text {
    font-size: 25px;
    width: 70%;
    text-align: center;
    margin: auto;
    padding-top: 10%;
    z-index:100;

}
.gallery-1 .one-sample .text-sample .button-sample {
    color: #ae1b1c;
    background: white;
    width: 70%;
    margin: auto;
    margin-top: 13%;
    font-size: 25px;
    z-index:100;
    cursor: pointer;
}
.gallery-2{
    z-index: 15;
    transition: all 1s ease-out;
    -webkit-transition: all 1s ease-in-out;
    -webkit-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75);
    position: relative;
    font-family: Andalus;
    background: #67696a;
    background-size: 100% 160%;
    width: 100%;
    max-height: 1280px;
    height: 100vh;

}
.gallery-3{
    z-index: 10;
    transition: all 1s ease-out;
    -webkit-transition: all 1s ease-in-out;
    -webkit-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75);
    position: relative;
    font-family: Andalus;
    background-image: url('../images_main_page/DSC_2024.jpg');
    background-size: 100% 160%;
    width: 100%;
    max-height: 1280px;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow:visible;
}
.gallery-4{
    z-index: 5;
    transition: all 1s ease-out;
    -webkit-transition: all 1s ease-in-out;
    -webkit-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75);
    position: relative;
    font-family: Andalus;
    background-image: url('../images_main_page/DSC_1807.JPG');
    background-size: 100% 160%;
    width: 100%;
    max-height: 1280px;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.gallery-slider{
    height:66.666vh;
    padding-top:5vh;
    padding-bottom:5vh;
    text-align: left;
    color:white;
    font-size:26px;
}

.gallery-4 .gallery-slider{
    position:absolute;
    padding-top:10vh;
    padding-bottom:0;
    bottom:5vh;
    width:100%;
}
.left-slider{
    margin-left:0 !important;
    padding-left:0 !important;
    height:100% !important;
    width:100% !important;
}
.right-slider{
    margin-right:0 !important;
    padding-right:0 !important;
    height:100% !important;
    width:100% !important;
}
@media screen and (max-width: 991px) {
    .not-for-mobile {
        display: none;
    }
}






















.gallery-4 .slides {
    padding: 0;
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    position: relative;
}

.gallery-4 .slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.gallery-4 .slides input { display: none; }

.gallery-4 .slide-container { display: block; }

.gallery-4 .slide {
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}

.gallery-4 .slide img {
    width: 100%;
    height: 100%;
}

.gallery-4 .nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;

    opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.gallery-4 .slide:hover + .nav label { opacity: 0.5; }

.gallery-4 .nav label:hover { opacity: 1; }

.gallery-4 .nav .next { right: 0; }

.gallery-4 input:checked + .slide-container  .slide {
    opacity: 1;

    transform: translate(0);

    transition: opacity 1.5s ease-out;
}

.gallery-4 input:checked + .slide-container .nav label { display: block; }

.gallery-4 .nav-dots {
    width: 100%;
    bottom: 9px;
    height: 11px;
    display: block;
    position: absolute;
    text-align: center;
}

.gallery-4 .nav-dots .nav-dot {
    top: -5px;
    width: 11px;
    height: 11px;
    margin: 0 4px;
    position: relative;
    border-radius: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
}

.gallery-4 .nav-dots .nav-dot:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
    background: rgba(0, 0, 0, 0.8);
}
input#img--1:checked ~ .nav-dots label#img-dot--1,
input#img--2:checked ~ .nav-dots label#img-dot--2,
input#img--3:checked ~ .nav-dots label#img-dot--3,
input#img--4:checked ~ .nav-dots label#img-dot--4,
input#img--5:checked ~ .nav-dots label#img-dot--5,
input#img--6:checked ~ .nav-dots label#img-dot--6 {
    background: rgba(0, 0, 0, 0.8);
}
input#img---1:checked ~ .nav-dots label#img--dot-1,
input#img---2:checked ~ .nav-dots label#img--dot-2,
input#img---3:checked ~ .nav-dots label#img--dot-3,
input#img---4:checked ~ .nav-dots label#img--dot-4,
input#img---5:checked ~ .nav-dots label#img--dot-5,
input#img---6:checked ~ .nav-dots label#img--dot-6 {
    background: rgba(0, 0, 0, 0.8);
}
.gallery-4 .slider-descr{
    padding-left:0 !important ;
    height:100%;
}

















.gallery-3 .slides-1 {
    padding: 0;
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    position: relative;
}

.gallery-3 .slides-1 * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}
.gallery-3 .slides-1 .gallery-3-1 { display: none; }

.gallery-3 .slide-container-1 { display: block; }

.gallery-3 .slide-1 {
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}

.gallery-3 .slide-1 img {
    width: 100%;
    height: 100%;
}

.gallery-3 .nav-1 label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;

    opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.gallery-3 .slide-1:hover + .nav label { opacity: 0.5; }

.gallery-3 .nav-1 label:hover { opacity: 1; }

.gallery-3 .nav-1 .next { right: 0; }

.gallery-3 .gallery-3-1:checked + .slide-container-1  .slide-1 {
    opacity: 1;

    transform: translate(0);

    transition: opacity 1.5s ease-out;
}

.gallery-3 .gallery-3-1:checked + .slide-container-1 .nav-1     label { display: block; }

.gallery-3 .nav-dots {
    width: 100%;
    bottom: 9px;
    height: 11px;
    display: block;
    position: absolute;
    text-align: center;
}

.gallery-3 .nav-dots .nav-dot {
    top: -5px ;
    width: 11px ;
    height: 11px ;
    margin: 0 4px ;
    position: relative;
    border-radius: 100% ;
    display: inline-block ;
    background-color: rgba(0, 0, 0, 0.6) ;
}

.gallery-3 .nav-dots .nav-dot:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8) ;
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
    background: rgba(0, 0, 0, 0.8);
}
input#img--1:checked ~ .nav-dots label#img-dot--1,
input#img--2:checked ~ .nav-dots label#img-dot--2,
input#img--3:checked ~ .nav-dots label#img-dot--3,
input#img--4:checked ~ .nav-dots label#img-dot--4,
input#img--5:checked ~ .nav-dots label#img-dot--5,
input#img--6:checked ~ .nav-dots label#img-dot--6 {
    background: rgba(0, 0, 0, 0.8);
}
.gallery-3-1#img---1:checked ~ .nav-dots label#img--dot-1,
.gallery-3-1#img---2:checked ~ .nav-dots label#img--dot-2,
.gallery-3-1#img---3:checked ~ .nav-dots label#img--dot-3,
.gallery-3-1#img---4:checked ~ .nav-dots label#img--dot-4,
.gallery-3-1#img---5:checked ~ .nav-dots label#img--dot-5,
.gallery-3-1#img---6:checked ~ .nav-dots label#img--dot-6 {
    background: rgba(0, 0, 0, 0.8);
}
.gallery-3 .slider-descr{
    padding-left:0  ;
    height:100% ;
}